<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>method</key>
    <string>development</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string></string>
    <key>bundleID</key>
    <string>com.example.yourapp</string>
    <key>provisioningProfileSpecifier</key>
    <string></string>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>destination</key>
    <string>export</string>
  </dict>
</plist>
